@page
@model PriSecFileStorageWeb.Pages.OfflineBackupAllKeysModel
@{
    ViewData["Title"] = "Owner Local Backup Keys";
}

<form method="post" enctype="multipart/form-data" asp-action="OfflineBackupAllKeys">
    <div class="mb-3">
        <label class="form-label">Choose a backup option</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="BackupOption" id="flexRadioDefault1" value="1">
        <label class="form-check-label" for="flexRadioDefault1">
            All Server Directory Data
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="BackupOption" id="flexRadioDefault2" value="2">
        <label class="form-check-label" for="flexRadioDefault2">
            Server Directory File Encryption Keys
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="BackupOption" id="flexRadioDefault3" value="3">
        <label class="form-check-label" for="flexRadioDefault3">
            Server Directory File Name And Extension
        </label>
    </div>
    <br>
    <div class="mb-3">
        <label for="Zip_Name" class="form-label">Name of the Zip File</label>
        <br>
        <input type="text" class="form-control" id="Zip_Name" name="Zip_Name">
    </div>
    <div class="mb-3">
        <label class="form-label">
            Do you need to let others have signature secret keys? (Apply only to second choice)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="CheckBoxOption" type="checkbox" value="Yes" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Yes
        </label>
    </div>
    <br>
    <div class="mb-3">
        <label for="Response" class="form-label">Response</label>
        @if (Model.Status != null && Model.Status.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="Response" name="Response" aria-describedby="Response_Help" readonly value=@Model.Status>
        }
        else
        {
            <input type="text" class="form-control" id="Response" name="Response" aria-describedby="Response_Help" readonly>
        }
    </div>
    <button type="submit" class="btn btn-primary">Backup Keys/Information</button>
</form>