@page
@model PriSecFileStorageWeb.Pages.OwnerCheckFileContentModel
@{
    ViewData["Title"] = "Owner Check File";
    int Loop = 0;
}

<form method="post" enctype="multipart/form-data" asp-action="OwnerCheckFileContent">
    <div class="mb-3">
        <label for="Storage_ID" class="form-label">Current Selected Storage ID</label>
        <br>
        @if (Model.Current_Directory_ID != null && Model.Current_Directory_ID.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="Storage_ID" name="Storage_ID" aria-describedby="Storage_ID_Help" value=@Model.Current_Directory_ID readonly>
        }
        else
        {
            <input type="text" class="form-control" id="Storage_ID" name="Storage_ID" aria-describedby="Storage_ID_Help" readonly>
        }
    </div>
    <div class="mb-3">
        <label for="Random_File_Name" class="form-label">Select a random file</label>
        <br>
        <select name="Random_File_Name">
            @if (Model.ListOfFileNames != null && Model.ListOfFileNames.Length != 0)
            {
                @while (Loop < Model.ListOfFileNames.Length)
                {
                    <option>@Model.ListOfFileNames[Loop]</option>
                    Loop += 1;
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="Current_File_Name" class="form-label">Selected Random File Name</label>
        @if (Model.Chosen_File_Name != null && Model.Chosen_File_Name.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="Current_File_Name" name="Current_File_Name" aria-describedby="Current_File_Name_Help" readonly value=@Model.Chosen_File_Name>
        }
        else
        {
            <input type="text" class="form-control" id="Current_File_Name" name="Current_File_Name" aria-describedby="Current_File_Name_Help" readonly>
        }
    </div>
    <div class="mb-3">
        <label for="File_Name" class="form-label">Selected Random File Name's Actual File Name</label>
        @if (Model.File_Name != null && Model.File_Name.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="File_Name" name="File_Name" aria-describedby="File_Name_Help" readonly value=@Model.File_Name>
        }
        else
        {
            <input type="text" class="form-control" id="File_Name" name="File_Name" aria-describedby="File_Name" readonly>
        }
    </div>
    <div class="mb-3">
        <label for="File_Content_Count" class="form-label">Encrypted File Contents Count</label>
        @if (Model.File_Content_Count != null && Model.File_Content_Count.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="File_Content_Count" name="File_Content_Count" aria-describedby="File_Content_Count_Help" value=@Model.File_Content_Count readonly>
        }
        else
        {
            <input type="text" class="form-control" id="File_Content_Count" name="File_Content_Count" aria-describedby="File_Content_Count_Help" readonly>
        }
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="GetFileContentCount">1. Read Encrypted File Content Count</button>
    <br>
    <br>
    <div class="mb-3">
        <label for="Status" class="form-label">Response</label>
        @if (Model.Status != null && Model.Status.CompareTo("") != 0)
        {
            <input type="text" class="form-control" id="Status" name="Status" aria-describedby="Status_Help" readonly value=@Model.Status>
        }
        else
        {
            <input type="text" class="form-control" id="Status" name="Status" aria-describedby="Status_Help" readonly>
        }
    </div>
    <button type="submit" class="btn btn-primary">2. Check Encrypted File (Please read compare progress in console/terminal)</button>
</form>
