@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<br>
<br>
<h2>Information that PayPal collects(visible to merchant)</h2>
<br>
<p>
    1. Any information that related to your <b>
        real life's name,payment date,
        billing address,email address
    </b> were collected by PayPal which was also
    visible to me.
</p>
<p>
    2. These types of information will be stored only at merchant's PayPal
    account instead of merchant's service's VPS as their servers and services are
    <b>PCI-DSS</b> compliant while merchant's service's VPS is not.
</p>
<p>
    3. If <label class="text-danger font-weight-bold">
        law enforcement agency requests for any data
    </label>, these
    <label class="text-danger font-weight-bold">data will submit to them.</label>
</p>
<p>
    4. If <label class="text-danger font-weight-bold">
        data leakage/breaches happens on either merchant/PayPal side,
    </label> any damage that caused by leaking the private information,
    <label class="text-danger font-weight-bold">merchant won't bear any responsibility.</label>
</p>
<hr>
<br>
<h2>Information that PayPal collects(Not visible to merchant)</h2>
<br>
<p>
    1. Exclude the information that is visible to merchant, these information will also
    be collected by PayPal which includes but not limit to
    <b>
        phone number, bank account number, card number, collects IP address
    </b>.
</p>
<br>
<p>
    2. Like any other payment related services, PayPal
    <label class="text-danger font-weight-bold">
        does not allow user to connect to
        their services either through TOR deepweb(Tor Browser) or TOR darkweb
    </label>
</p>
<br>

<hr>
<br>
<h2>Information that I/System collects</h2>
<br>
<p>
    All information that I/System collects are all publicly disclosable data which
    will be stored on my VPS.
</p>

<hr>
<br>
<h2>Merchant's service self regulation</h2>
<br>
<p>
    1. Currently, there's no plans to add cryptocurrency payment support as it's uncertain
    that the nation user reside in can use it in a legal manner.
</p>
<br>
<p>
    2. Currently, there's no plans to collect user's IP address as the regulatory data collected
    by PayPal is enough to do its job(in law enforcer's sight).
</p>
<br>
<p>
    3. Even though merchant do like to add support to Loki-Net(Another advanced TOR browser but similar
    vulnerability that exists in TOR browser and BlockChain/Decentralized Technology) or TOR browser support,
    the capability of merchant does not allow him to do so(Complex documentation and don't know where to start).
</p>
<br>
<p>
    4. Technology such as TOR darkweb(don't confuse TOR deep and darkweb) or I2P won't be used on merchant VPS.
    As these types of technology often posess the ability to let criminal get away with the crimes conducted.
</p>